{% extends "organizer/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
	Contact details
{% endblock %}

{% block content %}
	<div class="contact-detail" id="contact-detail">
		<h3>{% translate "Personal Data Details" %}:</h3>
		<h3>{% translate "First Name" %}: {{ contact.fname }}</h3>
		<h3>{% translate "Last Name" %}: {{ contact.lname }}</h3>
		<h3>{% translate "Personal Phone" %}: {{ contact.personal_phone }}</h3>
		<h3>{% translate "Work Phone" %}: {{ contact.work_phone }}</h3>
		<h3>{% translate "Address" %}: {{ contact.address }}</h3>
	</div>
{% endblock %}


















































